body {
  font-family: cursive;
  background-image: url('https://previews.123rf.com/images/fabrikacrimea/fabrikacrimea2004/fabrikacrimea200402057/145831665-fondo-de-letras-cubos-de-madera-con-letras-sobre-fondo-de-madera-de-cerca.jpg');
  background-size: cover;
}

h1 {
  text-align: center;
  margin-top: 50px;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}

#guess-input {
  display: block;
  margin: 0 auto 20px;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  width: 250px;
  border: 1px solid #646464;
}

#guess-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 18px;
  font-family: cursive;
  background-color: #e7d20f;
  color: #000000;
  border-color: black;
  border-radius: 3px;
}

button:active {
  transform: scale(0.95);
}

.letter {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  border: 2px solid #000;
  font-size: 20px;
  font-weight: bold;
}

.row {
  margin-bottom: 7px;
}

.input-area {
  margin: 30px;
}

#grid {
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
}

div {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
